<div id="back-btn" class="btn btn-secondary" (click)="isAdviceChecked = !isAdviceChecked" *ngIf="isAdviceChecked">
    <span class="fa fa-chevron-left"></span>
</div>
<div class="container col-md-8 search-container" *ngIf="!isAdviceChecked">
    <div class="row justify-content-center search-area">
        <div class="col-12 col-md-10 col-lg-8">
            <form class="card card-sm text-center">
                <h2 class="mt-2 mb-0 advice-title">Advice Search</h2>
                <div class="card-body row no-gutters align-items-center">
                    <div class="col-auto d-flex p-1">
                        <i class="fas fa-search h5 text-body m-0"></i>
                    </div>
                    <div class="col">
                        <input [(ngModel)]="searchModel" class="form-control form-control-sm form-control-borderless" type="search"
                            placeholder="Search topics or keywords" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                <div class="col-md-12 text-center pb-3">
                    <button type="submit" (click)="searchAdvice()" (keydown.enter)="searchAdvice()" class="btn btn-sm btn-success mx-1">Search</button>
                    <button type="button" (click)="randomAdvice()" class="btn btn-sm btn-default mx-1">I'm Feeling
                        Lucky</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div *ngIf="isAdviceChecked" class="advice-slips">
    <app-advice-list [searchedList]="searchedList" [noDataMessage]="noDataMessage"></app-advice-list>
</div>